.header {
	padding-top: 30px;
	padding-bottom: 48px;
}

.header__row {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 40px;
}

.header__list-item {
	font-size: 22px;
	line-height: 50px;
	text-transform: uppercase;
}

.header__list-item:hover, .header__list-item:focus, .header__list-item:active {
	color: #6C0287;
}

.header__list-item:last-child{
	margin-right: 0;
}

.header__callback {
	display: block;
	width: 280px;
	height: 55px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 3px solid #6C0287;
	border-radius: 10px;
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
}

.header__callback:hover, .header__callback:focus, .header__callback:active {
	background: #6C0287;
}
