.about {
	padding-top: 100px;
}

.about__blockquote {
	display: block;
	margin-left: 31px;
	margin-bottom: 39px;
	width: 420px;
	font-size: 44px;
	line-height: 50px;
	text-transform: uppercase;
	position: relative;
}

.about__blockquote::after {
	content: "\201D";
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	color: var(--color-3, #6C0287); 
}

.about__blockquote::before{
	content: "\201D";
	font-weight: 900;
	font-size: 44px;
	line-height: 50px;
	color: var(--color-3, #6C0287); 
	position: absolute;
	top: 0;
	left: -31px;	
}

.about__cite {
	display: block;
	max-width: 350px;
	margin-left: 111px;
	padding-left: 110px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	background: url(img/ArkadyAbackshin.svg) no-repeat 0 50%;
}

.about__container {
	min-height: 596px;
	padding-left: 680px;
}

.about__item_content {
	display: inline-block;
	vertical-align: top;
}

.about__item_content::before {
	content: " ";
	width: 600px;
	height: 596px;
	background: url(img/about-img.png) no-repeat;
	float: left;
	margin-left: -680px;
}

.about__text:not(:last-child) {
	margin-bottom: 34px;
}

.about__text:last-child {
	margin-bottom: 48px;
}

.about__title {
	margin-bottom: 50px;
}

