.feedback {
	clear: both;
}

.feedback__title {
	margin-bottom: 40px;
}

.feedback__list {
	max-width: 980px;
	margin: 0 auto;
}

.feedback__item {
	position: relative;
	margin-bottom: 50px;
}

.feedback__item:last-child {
	margin-bottom: 0;
}

.feedback__cite {
	display: block;
	max-width: 280px;
	min-height: 319px;
	text-align: center;
	padding-top: 291px;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	background-size: 280px 280px;
	background-repeat: no-repeat;
}

.feedback__blockquote {
	margin: 0;
	max-width: 680px;
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 20px;
	line-height: 28px;
	position: absolute;
	top: 52px;
	left: 300px;
}

.feedback__cite_person_ms {
	background-image: url(img/max-samoylov.png);
}

.feedback__cite_person_og {
	background-image: url(img/oksana-grigoryeva.png);
}

.feedback__cite_person_ny {
	background-image: url(img/nikita-yaschenko.png);
}