/*.header__btn {
	font-weight: bold;
	font-size: 22px;
	line-height: 30px;
	text-transform: uppercase;
	border: 3px solid var(--color-4, #CD06FF);
	border-radius: 10px;
	background-color: transparent;
	color: var(--color-1, #fff);
	padding: 12px 32px;
	transition: background-color .24s ease;
}

.header__btn:hover,
.header__btn:focus {
	background-color: var(--color-3, #6C0287) ;
	border-color: var(--color-3, #6C0287);
}

.header__btn:active {
	background-color: var(--color-3, #640AA3);
	border-color: var(--color-3, #640AA3);
}

@media (max-width: 1200px) {
	.header__btn {
		font-size: 18px;
		line-height: 24px;
		padding: 11px 26px;
	}
}*/