.contacts {
	background: linear-gradient(180deg, #1B1A1B -13.35%, #370A37 86.65%);
}

.contacts__title {
	margin-bottom: 40px;
}

.contacts__communication {
	display: flex;
	justify-content: space-between;
}

.contacts__methods {
	max-width: 340px;
}

.contacts__address,
.contacts__phone,
.contacts__email {
	display: block;
	padding-left: 60px;
	font-weight: bold;
	font-size: 24px;
	line-height: 28px;
	position: relative;
	cursor: pointer;
}

.contacts__address::before,
.contacts__phone::before,
.contacts__email::before {
	content: "";
	display: block;
	width: 32px;
	height: 32px;
	position: absolute;
	left: 0;
	top: 0;
	transition: all .3s ease;
	background-position: center;
	background-repeat: no-repeat;
}

.contacts__address {
	font-style: normal;
	margin-bottom: 36px;
}

.contacts__address::before {
	background-image: url(../../img/contacts/location.svg);
	top: 15px;
}

.contacts__address:hover::before {
	background-image: url(../../img/contacts/location-hover.svg);
}

.contacts__phone {
	margin-bottom: 11px;
}

.contacts__phone::before {
	background-image: url(../../img/contacts/phone-call.svg);
}

.contacts__phone:hover::before {
	background-image: url(../../img/contacts/phone-call-hover.svg);
}

.contacts__email {
	margin-bottom: 40px;
}

.contacts__email::before {
	background-image: url(../../img/contacts/envelope.svg);
}

.contacts__email:hover::before {
	background-image: url(../../img/contacts/envelope-hover.svg);
}

.contacts__copywrite-row {
	padding-top: 145px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 14px;
	line-height: 16px;
}

.contacts__disign {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 6px;
}

.contacts__link {
	position: relative;
}

.contacts__link::after {
	content: "";
	width: 100%;
	height: 2px;
	background-color: var(--color-1, #fff);
	position: absolute;
	bottom: -5px;
	left: 0;
	display: none;
}

.contacts__link:hover::after {
	display: block;
}
