.faq {
	padding-top: 100px;
}

.faq__title {
	margin-bottom: 40px;
}

.faq__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.faq__list-button {
	width: 100%;
	min-height: 87px;
	padding: 0 0 0 70px;
	cursor: pointer;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
	font-weight: bold;
	background-color: var(--color-1, #fff);
	border: none;
	outline: none;
	position: relative;
	transition: all .3s ease;
}

.faq__list-button::after {
	display: block;
	content: "";
	width: 46px;
	height: 46px;
	border-radius: 50%;
	position: absolute;
	top: 21px;
	right: 70px;
	background-image: url(../../img/faq/open-purple.svg);
	background-repeat: no-repeat;
	background-position: center;
}

.faq__list-item:hover .faq__list-button::after {
	background-image: url(../../img/faq/open-purple-hover.svg);
}

.faq__list-item:active .faq__list-button::after {
	background-image: url(../../img/faq/close-purple-active.svg);
}

.faq__list-item:nth-child(even) .faq__list-button {
	color: var(--color-1, #fff);
	background-color: var(--color-9, #440F51);
}

.faq__list-item:nth-child(even) .faq__list-button::after {
	background-image: url(../../img/faq/open.svg);
}

.faq__list-item:nth-child(even):hover .faq__list-button::after {
	background-image: url(../../img/faq/open-hover.svg);
}

.faq__list-item:nth-child(even):active .faq__list-button::after {
	background-image: url(../../img/faq/close-active.svg);
}

.faq__list-text {
	transition: height .3s ease;
}

.faq__list-text.active {
	font-size: 24px;
	line-height: 28px;
	padding: 57px 70px 100px 69px;
	background-color: var(--color-1, #fff);
	color: var(--color-2, #000);
}

.faq__list-text span {
	font-weight: bold;
}

/* ! Проверить фокус и актив в плюсике
! Разобраться с транзишном
*/







