.feedback {
	padding-top: 100px;
}

.feedback__title {
	margin-bottom: 40px;
}

.feedback__item {
	cursor: pointer;
	min-height: 319px;
	padding-left: 100px;
	display: flex;
}

.feedback__figure {
	max-width: 380px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 11px;
}

.feedback__figcaption {
	font-size: 20px;
	line-height: 28px;
}

.feedback__img-wrapper {
	width: 280px;
	height: 280px;
	background-repeat: no-repeat;
	background-size: contain;
	position: relative;
}

.feedback__img-wrapper::after {
	display: block;
	content: '';
	width: 280px;
	height: 280px;
	background-image: url(../../img/feedback/bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	position: absolute;
	top: 0;
	left: 0;
}

.feedback__img-wrapper_ms {
	background-image: url(../../img/feedback/max-samoylov.png);
}

.feedback__img-wrapper_og {
	background-image: url(../../img/feedback/oksana-grigoryeva.png);
}
.feedback__img-wrapper_ny {
	background-image: url(../../img/feedback/nikita-yaschenko.png);
}

.feedback__blockquote {
	max-width: 680px;
	padding-top: 52px;
	font-size: 20px;
	line-height: 28px;
}

.feedback__slider .swiper-button-prev::after,
.feedback__slider .swiper-button-next::after {
	color: var(	--color-3, #6C0287);
	font-size: 46px;
}

@media (max-width: 1300px) {
	.feedback {
		padding-top: 70px;
	}

	.feedback__title {
		margin-bottom: 26px;
	}

	.feedback__item {
		min-height: 219px;
		padding-left: 74px;
	}

	.feedback__figure {
		max-width: 224px;
		gap: 21px;
	}

	.feedback__img-wrapper,
	.feedback__img-wrapper::after {
		width: 172px;
		height: 172px;
	}

	.feedback__figcaption {
		font-size: 18px;
		line-height: 26px;
	}

	.feedback__blockquote {
		max-width: 515px;
		padding-top: 33px;
		font-size: 18px;
		line-height: 26px;
	}
}

@media (max-width: 960px) {
	.feedback {
		padding-top: 60px;
	}

	.feedback__title {
		margin-bottom: 31px;
	}

	.feedback__item {
		min-height: 190px;
		padding-left: 63px;
	}

	.feedback__figure {
		max-width: 156px;
		gap: 17px;
	}

	.feedback__img-wrapper,
	.feedback__img-wrapper::after {
		width: 153px;
		height: 153px;
	}

	.feedback__figcaption {
		font-size: 14px;
		line-height: 20px;;
	}

	.feedback__blockquote {
		max-width: 393px;
		padding-top: 30px;
		font-size: 16px;
		line-height: 22px;
	}
}

@media (max-width: 760px) {
	.feedback {
		padding-top: 30px;
	}

	.feedback__title {
		margin-bottom: 15px;
	}

	.feedback__item {
		min-height: 197px;
		padding-left: 0;
		flex-direction: column;
		align-items: center;
		gap: 16px;

	}

	.feedback__figure {
		gap: 9px;
	}

	.feedback__img-wrapper,
	.feedback__img-wrapper::after {
		width: 86px;
		height: 86px;
	}

	.feedback__blockquote {
		max-width: 100%;
		font-size: 12px;
		line-height: 16px;
		padding-top: 0;
		margin: 0;
	}

	.feedback__slider .swiper-button-prev {
		top: 30px;
		left: 0;
	}

	.feedback__slider .swiper-button-next {
		top: 30px;
		right: 0;
	}

	.feedback__slider .swiper-button-prev::after,
	.feedback__slider .swiper-button-next::after {
		font-size: 20px;
	}
}