.games {
	margin-bottom: 100px;
}

.games__container {
	min-height: 566px;
}

.games__title {
	max-width: 700px;
	margin: 0 auto 40px;
}

.games__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 40px;
}

.games__list-item {
	display: block;
	width: 380px;
	height: 228px;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-size: contain;
	padding-left: 40px;
	padding-top: 166px;
	transition-duration: 0.5s;
}

.games__list-item:hover {
	transform: scale(1.05);
}

.games__list-item_game_vr {
	background-image: url(../../img/games/vr.png);	
}

.games__list-item_game_audio {
	background-image: url(../../img/games/audio.png);
	position: relative;
	top: 70px;
}

.games__list-item_game_micro {
	background-image: url(../../img/games/micro.png);
}

.games__list-item_game_games {
	background-image: url(../../img/games/game.png);
}

.games__list-item_game_netflix {
	background-image: url(../../img/games/netflix.png);
	position: relative;
	top: 70px;
}

.games__list-item_game_sony {
	background-image: url(../../img/games/sony.png);
}

.games__description {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
}

@media (max-width: 1300px) {
	.games {
		margin-bottom: 70px;
	}

	.games__title {
		margin-bottom: 36px;
	}

	.games__container {
		min-height: 426px;
		max-width: 910px;
		margin: 0 auto;
	}

	.games__list {
		row-gap: 30px;
	}

	.games__list-item {
		width: 287px;
		height: 172px;
		padding-left: 20px;
		padding-top: 114px;
	}
}

@media (max-width: 960px) {
	.games {
		margin-bottom: 60px;
	}

	.games__title {
		margin-bottom: 30px;
	}

	.games__list {
		justify-content: center;
		gap: 20px;
	}

	.games__list-item {
		width: 334px;
		height: 200px;
		padding-left: 30px;
		padding-top: 132px;
	}

	.games__list-item_game_audio {
		position: static;
	}

	.games__list-item_game_netflix {
		position: static;
	}
}

/* ! Сделать адаптив на 768!!! */

@media (max-width: 480px) {
	.games {
		margin-bottom: 30px;
	}

	.games__title {
		margin-bottom: 15px;
	}

	.games__container {
		width: 280px;
	}

	.games__list {
		gap: 8px;
	}

	.games__list-item {
		width: 135px;
		height: 75px;
		padding-left: 10px;
		padding-top: 30px;
	}

	.games__description {
		font-size: 10px;
		line-height: 14px;
	}
}


