.games {
	margin-bottom: 100px;
}

.games__container {
	height: 566px;
}

.games__title {
	max-width: 700px;
	margin: 0 auto 40px;
}

.games__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	row-gap: 40px;
}

.games__list-item {
	display: block;
	width: 380px;
	height: 228px;
	background-size: 100% 100%;
	padding-left: 40px;
	padding-top: 166px;
	transition-duration: 0.5s;
}

.games__list-item:hover {
	transform: scale(1.05);
}

.games__list-item_game_vr {
	background: url(../../img/games/vr.png) no-repeat;	
}

.games__list-item_game_audio {
	background: url(../../img/games/audio.png) no-repeat;
	position: relative;
	top: 70px;
}

.games__list-item_game_micro {
	background: url(../../img/games/micro.png) no-repeat;
}

.games__list-item_game_games {
	background: url(../../img/games/game.png) no-repeat;
}

.games__list-item_game_netflix {
	background: url(../../img/games/netflix.png) no-repeat;
	position: relative;
	top: 70px;
}

.games__list-item_game_sony {
	background: url(../../img/games/sony.png) no-repeat;
}

.games__description {
	font-weight: bold;
	font-size: 20px;
	line-height: 28px;
}

/*@media (max-width: 1300px) {
	.games {
		padding-bottom: calc(153px + (170 - 153) * ((100vw - 1024px) / (1300 - 1024)));
	}

	.games__list {
		row-gap: calc(30px + (40 - 30) * ((100vw - 1024px) / (1300 - 1024)));
	}

	.games__list-item {
		width: calc(287px + (380 - 287) * ((100vw - 1024px) / (1300 - 1024)));
		height: calc(172px + (228 - 172) * ((100vw - 1024px) / (1300 - 1024)));
		padding-left: calc(20px + (40 - 20) * ((100vw - 1024px) / (1300 - 1024))); 
		padding-top: calc(114px + (166 - 114) * ((100vw - 1024px) / (1300 - 1024))); 
	}

	.games__list-item_game_audio {
		top: calc(53px + (70 - 53) * ((100vw - 1024px) / (1300 - 1024)));
	}

	.games__list-item_game_netflix {
		padding-top: calc(83px + (166 - 83) * ((100vw - 1024px) / (1300 - 1024))); 
		padding-right: calc(20px + (0 - 114) * ((100vw - 1024px) / (1300 - 1024))); 
		top: calc(53px + (70 - 53) * ((100vw - 1024px) / (1300 - 1024)));
	}

}

@media (max-width: 1000px) {
	.games {
		padding-bottom: calc(30px + (100 - 30) * ((100vw - 320px) / (1300 - 320)));
	}

	.games__list {
		column-gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1000 - 320))); 
		row-gap: calc(10px + (20 - 10) * ((100vw - 320px) / (1000 - 320))); 
		justify-content: center;
	}
	
	.games__list-item  {
		width: calc(135px + (400 - 135) * ((100vw - 320px) / (1000 - 320)));
		height: calc(75px + (240 - 75) * ((100vw - 320px) / (1000 - 320)));
		padding-left: calc(10px + (30 - 10) * ((100vw - 320px) / (1000 - 320))); 
		padding-right: calc(10px + (30 - 10) * ((100vw - 320px) / (1000 - 320)));
		padding-top: calc(30px + (132 - 30) * ((100vw - 320px) / (1000 - 320)));
	}

	.games__list-item_game_audio,
	.games__list-item_game_netflix {
		position: static;
	}

	.games__description {
		font-size: calc(10px + (20 - 10) * ((100vw - 320px) / (1000 - 320)));
		line-height: calc(14px + (28 - 14) * ((100vw - 320px) / (1000 - 320)));
	}
}*/