.section-title {
	font-weight: bold;
	font-size: 40px;
	line-height: 50px;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 40px;
}

@media (max-width: 1300px) {
	.section-title {
		font-size: calc(14px + (40 - 14) * ((100vw - 320px) / (1300 - 320)));
		line-height: calc(18px + (50 - 18) * ((100vw - 320px) / (1300 - 320)));
		margin-bottom: calc(15px + (40 - 15) * ((100vw - 320px) / (1300 - 320)));
	}
}