.social__list {
	min-height: 70px;
	max-width: 280px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	gap: 26px;
}

.social__item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	transition: all .3s ease;
	cursor: pointer;
}

.social__item_inst {
	background-image: url(../../img/social/instagram/instagram-us.svg);
}

.social__item_inst:hover {
	background-image: url(../../img/social/instagram/instagram-hover.svg);
}

.social__item_inst:focus {
	background-image: url(../../img/social/instagram/instagram-focus.svg);
}

.social__item_inst:active {
	background-image: url(../../img/social/instagram/instagram-active.svg);
}

.social__item_fb {
	background-image: url(../../img/social/fb/fb-us.svg);
}

.social__item_fb:hover {
	background-image: url(../../img/social/fb/fb-hover.svg);
}

.social__item_fb:focus {
	background-image: url(../../img/social/fb/fb-focus.svg);
}

.social__item_fb:active {
	background-image: url(../../img/social/fb/fb-active.svg);
}

.social__item_telegram {
	background-image: url(../../img/social/telegram/telegram-us.svg);
}

.social__item_telegram:hover {
	background-image: url(../../img/social/telegram/telegram-hover.svg);
}
.social__item_telegram:focus {
	background-image: url(../../img/social/telegram/telegram-focus.svg);
}
.social__item_telegram:active {
	background-image: url(i../../img/social/telegram/telegram-active.svg);
}

.social__item_vk {
	background-image: url(../../img/social/vk/vk-us.svg);
}

.social__item_vk:hover {
	background-image: url(../../img/social/vk/vk-hover.svg);
}

.social__item_vk:focus {
	background-image: url(../../img/social/vk/vk-focus.svg);
}

.social__item_vk:active {
	background: url(../../img/social/vk/vk-active.svg);
}
