.social__list {
	max-width: 280px;
	padding-bottom: 20px;
	display: flex;
	justify-content: space-between;
	gap: 26px;
}

.social__item {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border: none;
	outline: none;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	transition: all .3s ease;
	cursor: pointer;
}

.social__item_inst {
	background-image: url(../../img/social/instagram/inst.svg);
}

.social__item_inst:hover {
	background-image: url(../../img/social/instagram/inst-hover.svg);
}

.social__item_inst:active {
	background-image: url(../../img/social/instagram/inst-active.svg);
}

.social__item_fb {
	background-image: url(../../img/social/fb/fb.svg);
}

.social__item_fb:hover {
	background-image: url(../../img/social/fb/fb-hover.svg);
}

.social__item_fb:active {
	background-image: url(../../img/social/fb/fb-active.svg);
}

.social__item_telegram {
	background-image: url(../../img/social/telegram/telegram.svg);
}

.social__item_telegram:hover {
	background-image: url(../../img/social/telegram/telegram-hover.svg);
}

.social__item_telegram:active {
	background-image: url(../../img/social/telegram/telegram-active.svg);
}

.social__item_vk {
	background-image: url(../../img/social/vk/vk.svg);
}

.social__item_vk:hover {
	background-image: url(../../img/social/vk/vk-hover.svg);
}

.social__item_vk:active {
	background-image: url(../../img/social/vk/vk-active.svg);
}

@media (max-width: 1300px) {

	.social__list {
		max-width: 264px;
	}

	.social__item {
		width: 40px;
		height: 40px;
	}
}

@media (max-width: 960px) {
	.social__list {
		max-width: 238px;
		padding-bottom: 0;
	}
}

@media (max-width: 576px) {
	.social__list {
		max-width: 180px;
	}

	.social__item {
		width: 30px;
		height: 30px;
	}
}
