.social__list {
	display: flex;
	justify-content: space-between;
	gap: 26px;
}

.social__link {
	display: block;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	transition: background-image 0.5s ease;
}

.social__link_inst {
	background: url(img/instagram/instagram-us.svg) no-repeat 50% 50%;
}

.social__link_inst:hover {
	background: url(img/instagram/instagram-hover.svg) no-repeat 50% 50%;
}

.social__link_inst:focus {
	background: url(img/instagram/instagram-focus.svg) no-repeat 50% 50%;
}

.social__link_inst:active {
	background: url(img/instagram/instagram-active.svg) no-repeat 50% 50%;
}

.social__link_fb {
	background: url(img/fb/fb-us.svg) no-repeat 50% 50%;
}

.social__link_fb:hover {
	background: url(img/fb/fb-hover.svg) no-repeat 50% 50%;
}

.social__link_fb:focus {
	background: url(img/fb/fb-focus.svg) no-repeat 50% 50%;
}

.social__link_fb:active {
	background: url(img/fb/fb-active.svg) no-repeat 50% 50%;
}

.social__link_telegram {
	background: url(img/telegram/telegram-us.svg) no-repeat 50% 50%;
}

.social__link_telegram:hover {
	background: url(img/telegram/telegram-hover.svg) no-repeat 50% 50%;
}
.social__link_telegram:focus {
	background: url(img/telegram/telegram-focus.svg) no-repeat 50% 50%;
}
.social__link_telegram:active {
	background: url(img/telegram/telegram-active.svg) no-repeat 50% 50%;
}

.social__link_vk {
	background: url(img/vk/vk-us.svg) no-repeat 50% 50%;
}

.social__link_vk:hover {
	background: url(img/vk/vk-hover.svg) no-repeat 50% 50%;
}

.social__link_vk:focus {
	background: url(img/vk/vk-focus.svg) no-repeat 50% 50%;
}

.social__link_vk:active {
	background: url(img/vk/vk-active.svg) no-repeat 50% 50%;
}
