:root {
	--body-background-color: ;
	--color-1: #fff;
	--color-2: #000;
	--color-3:#6C0287;
	--color-4: #CD06FF;
	--color-5: #6C0287;
	--color-6: #840AA3;
	--color-7: #EADEED;
	--color-8: #1B1A1B;
	--color-9: #440F51;
	--color-10: #1C1A1A;
}

