:root {
	--color-1: #fff;
	--color-2: #000;
	--color-3:#6C0287;
	--color-4: #CD06FF;
	--color-5: #6C0287;
	--color-6: #840AA3;
	--color-7: #EADEED;
	--color-8: #1B1A1B;
	--color-9: #440F51;
	--color-10: #1C1A1A;
	--color-11: #640AA3;

	--banner-wrappper-x: calc(280px + (1180 - 280) * ((100vw - 320px) / (1300 - 320)));
	--banner-wrappper-y: calc(35px + (146 - 35) * ((100vw - 320px) / (1300 - 320)));
	--banner-element-x: calc(161px + (675 - 161) * ((100vw - 320px) / (1300 - 320)));
	--banner-element-y: calc(179px + (762 - 179) * ((100vw - 320px) / (1300 - 320)));
}

