.faq__title {
	margin-bottom: 40px;
}

.faq__list {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.faq__list-button {
	display: flex;
	cursor: pointer;
	width: 100%;
	height: 100%;
	border: none;
}

.faq__list-text {
	padding-top: 24px;
	cursor: pointer;
}

.faq__list-item:nth-child(odd) {
	background-color: var(--color-1, #fff);
	color: var(--color-10, #1C1A1A);
	font-weight: 700;
	font-size: 24px;
	padding: 30px 70px;
	list-style-type: none;
	position: relative;
}

.faq__list-item:nth-child(odd) .faq__item-icon {
	content: ' ';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 70px;
	background: url(../faq/img/open-purple.svg) no-repeat;
	transition: 0.4s;
}

.faq__list-item:nth-child(odd)
.faq__item-icon:hover {
	background: url(../faq/img/open-purple-hover.svg) no-repeat;
}

.faq__list-item:nth-child(odd)
.faq__item-icon_active {
	content: ' ';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 70px;
	background:url(../faq/img/close-purple-active.svg) no-repeat;
}

.faq__list-item:nth-child(even) {
	color: var(--color-1, #fff);
	background-color: var(--color-9, #440F51);
	font-weight: 700;
	font-size: 24px;
	padding: 30px 70px;
	list-style-type: none;
	position: relative;
}

.faq__list-item:nth-child(even) .faq__item-icon {
	content: ' ';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 70px;
	background: url(../faq/img/open.svg) no-repeat;
	transition: 0.4s;
}

.faq__list-item:nth-child(even)
.faq__item-icon:hover {
	background: url(../faq/img/open-hover.svg) no-repeat;
}

.faq__list-item:nth-child(even)
.faq__item-icon_active {
	content: ' ';
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 70px;
	background:url(../faq/img/close-active.svg) no-repeat;
}







