.list__item {
	background-color: var(--color-1, #fff);
	color: var(--color-10, #1C1A1A);
	font-weight: 700;
	font-size: 24px;
	padding: 30px 70px;
	margin-bottom: 20px;
	list-style-type: none;
	position: relative;
}

.list__item:last-child {
	margin-bottom: 0;
}

.list :nth-child(even) {
	color: var(--color-1, #fff);
	background-color: var(--color-9, #440F51);
}

.list :nth-child(even)::after {
	content: " ";
	background: url("img/open.svg") 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 50px;
}

.list :nth-child(even):hover::after {
	content: " ";
	background: url("img/open-hover.svg") 0 0 no-repeat;
}

.list :nth-child(even):active::after {
	content: " ";
	background: url("img/open-active.svg") 0 0 no-repeat;
}


.list :nth-child(odd)::after {
	content: " ";
	background: url('img/open-purple.svg') 0 0 no-repeat;
	width: 50px;
	height: 50px;
	position: absolute;
	top: 20px;
	right: 50px;
}

.list :nth-child(odd):hover::after {
	content: " ";
	background: url("img/open-purple-hover.svg") 0 0 no-repeat;
}

.list :nth-child(odd):active::after {
	content: " ";
	background: url("img/close-purple-active.svg") 0 0 no-repeat;
}